@media screen and (max-width: 1080px) {

    .bg-img {
        background-position: 0px 2264px, 0px 8145px, 131px 1119px;
    }


    .launch_wallet {
        display: none;
    }

    .header {
        height: 110px;
        background-color: #09273b;
        display: flex;
        align-items: center;
    }

    .header>.content {
        width: 100%;
        max-width: none;
        display: flex;
        align-items: center;
        padding-left: 4vw;
        padding-right: 4vw;
        justify-content: space-between;
    }

    .header_border {
        background-image: url(/img/header_gradient.png);
        background-repeat: repeat-x;
        height: 4px;
        width: 100%;
    }

    .menu-container {
        display: none !important;
        flex: unset !important;
    }

    .menu {
        color: white;
        font-size: 13px;
        cursor: pointer;
        display: none;
    }

    .menu+.menu {
        margin-left: 40px;
    }

    .logo-title {
        font-size: 27px;
        color: #ffffff;
        font-weight: 700;
        margin-left: 10px;
    }

    #launch_btn {
        display: none;
    }


    #launch_sm_btn {
        width: fit-content !important;
        display: flex !important;
    }


    #section-hero>.content {
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flower-pos {
        top: 1000px !important;
    }

    .earn-title {
        font-size: 6vw !important;
        color: white !important;
        padding-right: 110px;
        padding-left: 110px;
        text-align: center;
        font-weight: 600;
        margin-top: 100px;
        height: fit-content;
    }

    .earn-subtitle {
        /* height: 200px; */
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 3vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 30px;
    }

    .statistics {
        margin-top: 100px;
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    .sub_statistics {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .first_action_btn {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .brief_board {
        width: 100%;
        display: flex;
        justify-content: start;
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 100px;
    }

    .action-btn {
        width: 40vw;
        height: 9vw;
        font-size: 2.6vw;
    }


    .buy_nft_btn {
        font-size: 3vw;
    }

    .week_statistics {
        position: absolute;
        bottom: -150px;
        right: 0px;
    }


    .cookie {
        width: 100%;
        padding-right: 40px;
        padding-left: 40px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 180px;
        margin-top: 10px;
    }

    .cookie_container {
        width: 100%;
    }

    .cookie_btn {
        font-size: 36px;
        font-weight: 600;
        width: 100%;
        height: 110px;
    }

    .cookie_ok {
        width: 90px;
        height: 90px;
        border-radius: 45px;
    }


    #section-started {
        margin-top: 20vw;
    }


    .card-title {
        font-size: 5vw !important;
        color: white;
        line-height: 1.1;
        width: 100%;
        text-align: center;
        font-weight: 600;
    }

    .start-subtitle-container {
        display: flex;
        justify-content: center !important;
    }

    .start-subtitle {
        font-size: 3vw;
        width: unset;
    }


    .cards {
        flex-direction: column;
    }

    .card {
        width: 100%;
        height: fit-content;
        padding: 8vw;
    }

    .card+.card {
        margin-top: 200px;
    }


    .card-img {
        height: 70vw;
        width: 100%;
    }


    .card-item-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        font-size: 6vw;
    }

    .card-item-info {
        height: unset;
        color: #8fced5;
        font-size: 2.6vw;
    }

    .card-item-collection {
        height: 60px;
        font-size: 32px;
    }

    .fs-20 {
        font-size: 3vw;
    }


    .section-vision {


        width: 100%;
    }


    .lifetime-title {
        padding-left: 2vw;
        padding-right: 2vw;
        margin-top: 110px;
        font-size: 5vw;
        font-weight: 600;
        text-align: center;
        height: fit-content;
    }

    .try_btn_container {
        display: flex;
        justify-content: center;
    }

    .card-action-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 110px;
    }

    .card-action+.card-action {
        margin-top: 54px;
    }

    .started-content {
        width: 90%;
    }

    .card-action.admin {
        height: fit-content !important;
    }

    .started-content-admin {
        width: 80% !important;
        flex-direction: column;
    }

    #section-started.admin {
        margin-top: 100px !important;
    }

    .card-action {
        width: 100%;
        /* height: 345px; */
        /* padding: 50px; */
        padding: 4vw 3vw;
    }

    .badge-title {
        font-size: 5vw;
        line-height: 45px;
    }


    .card-action p {
        font-size: 3.5vw;
        line-height: 1.1;
        text-align: center;
        height: fit-content;
    }


    #vision-content>.title {
        font-size: 6vw;
        font-weight: 600;
        padding-left: 60px;
        padding-right: 60px;
        text-align: center;
        line-height: 1.1;
    }

    #vision-content>.subtitle {
        margin-top: 60px;
        font-size: 3vw;
        text-align: center;
        line-height: 1.1;
    }

    .vision-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 70px;
    }


    .vision-left-item {
        width: 70vw;
        height: 70vw;
        border-radius: 35vw;
    }

    .vision-right-item {
        margin-top: 50px;
        width: 70vw;
        height: 70vw;
        border-radius: 35vw;
    }


    .vision-item-no {
        font-size: 6vw;
        font-weight: 600;
    }

    .vision-item-info {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 2.2vw;
    }

    #chip-vision {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: transparent;
        padding-bottom: 110px;
    }



    .claim-all {
        width: 15vw;
        height: 5vw;
        font-size: 2vw;
    }


    .chips-container {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }

    .chip {
        font-size: 3vw;
        width: 49%;
        margin-bottom: 20px;
    }

    .chip>img {
        width: 8vw;
        height: 8vw;
    }

    #chips-header {
        font-size: 6vw;
        text-align: center;
    }

    .work-content {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
        display: flex;
        justify-content: center;
    }

    .work-text {
        width: 100%;
    }

    .work-item {
        font-size: 2.5vw;
    }

    .work-subtitle {
        height: fit-content;
        display: flex;
        align-items: center;
        font-size: 3vw;
        margin-bottom: 40px;
    }


    .work-title {
        font-size: 6vw;
        text-align: center;
    }


    #faq-content {
        width: 100%;
    }

    .faq-title {
        font-size: 6vw;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    #section-faq {
        padding-left: 40px;
        padding-right: 40px;
    }

    .logo-title {
        font-size: 5vw;
    }

    .logo-img {
        height: 8vw;
        width: 8vw;
    }

    .footer-main {
        flex-direction: column;
        flex-wrap: nowrap;
        height: fit-content;
        align-items: flex-start;
    }

    .link-container {
        width: 100%;
        /* flex:1; */
        font-size: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-privacy {
        display: block;
    }

    .link-div {
        padding-left: 10%;
        padding-right: 10%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
    }


    .footer-bottom-privacy {
        display: none;
    }

    .spiral-img {
        display: none;
    }

    .ok-img {
        display: none;
    }


    .custom-container {
        width: 100%;
    }


    #create-ring {
        margin-top: 10px;
        font-size: 3vw;
    }

    .copy-right {
        font-size: 2vw;
    }


    .nft-margin-top {
        margin-top: 60px;
    }


    .create_title {
        font-size: 6vw;
        line-height: 1.1;
    }

    .informations-container {
        margin-top: 20px;
        padding-right: 40px;
        padding-left: 40px;
        width: 100%;
    }

    .info-container-1 {
        width: 100%;
        padding-bottom: 40px;
        padding-top: 40px;
    }


    .create_node_btn {
        width: 30vw;
        height: 10vw;
        font-size: 2.5vw;
    }

    .info-datas {
        font-size: 3.5vw;
    }

    .info-data-icon {
        height: 8vw;
    }

    #welcome-buttons {
        flex-direction: column;
        align-items: center;
    }

    .welcome-action-btn+.welcome-action-btn {
        margin-left: 0px;
        margin-top: 20px;
    }

    #welcome-message>#cards {
        display: block;
    }


    #welcome-message {
        padding-right: 40px;
        padding-left: 40px;
    }

    .msg-title {
        font-size: 6vw;
    }

    .msg-content {
        font-size: 3vw;
        margin-top: 0px;
    }


    footer>.container {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 20px;
        max-width: unset;
    }


    .node-title-header {
        font-size: 3vw;
    }

    .node-table-item {
        font-size: 3vw;
    }

    .mynode-header {
        width: 100%;
        height: fit-content;
        padding-right: 40px;
        padding-left: 40px;
    }

    .accordion {
        font-size: 2.5vw;
    }

    .footer-privacy {
        font-size: 30px;
    }

    .disclaim-content {
        font-size: 3vw;
    }

    .disclaim-title {
        font-size: 5vw;
    }

    .container {
        max-width: 90vw;
    }


    .MuiList-root {
        min-width: 250px;
    }

    .MuiMenuItem-root {
        height: 90px;
        font-size: 30px;
        font-weight: 600;
        padding-right: 30px;
        padding-left: 30px;
    }


    .MuiButton-root+div {
        inset: 40px -35px auto auto !important;
        z-index: 1000;
    }


    .menu-item-style {
        width: 100%;
        height: 100%;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: black
    }


    #launch_sm_connect_btn {
        width: 100%;
        padding-right: 40px;
        display: flex;
        justify-content: flex-end;
    }

    .trend_up_img {

        top: 8000px;
        /* left: 0px;
        width: 100%;
        height: 1250px;
        background-position: left;
        opacity: 0.09;
        background-repeat: no-repeat; */
        background-size: 100vw;
    }



}