* {
    font-family: "Nunito",sans-serif;
    color: var(--primary-text)
}

.canvas-particles {
    pointer-events: none!important
}

.multi-tab-menu-item {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    text-align: center;
    color: #fff;
    cursor: pointer
}

.multi-tab-menu-item-selected {
    font-weight: bolder
}

.table {
    align-self: flex-start;
    color: #fff!important
}

.table-first-column {
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden
}

td {
    padding: .5rem
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    color: #fff!important;
    background-color: transparent
}

th,thead,tr {
    border: 0 transparent!important
}

.form-control:focus {
    box-shadow: none!important;
    border-color: none!important
}

a {
    text-decoration: none!important
}

.container-middle {
    margin-left: 76px;
    margin-right: 70px
}

.disable {
    color: #d3d3d3!important;
    opacity: .2;
    pointer-events: none!important
}

.img-spin {
    -webkit-animation: spin 12s linear infinite;
    animation: spin 12s linear infinite
}

body {
    background-color: var(--primary)!important
}

table {
    border-collapse: unset!important;
    border-spacing: 0;
    padding: 10px
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.f1-center {
    justify-content: center
}

.f-col {
    display: flex;
    flex-direction: column
}

.gap-2 {
    grid-gap: 8px;
    gap: 8px
}

.ml-2 {
    margin-left: 10px
}

.ml-1 {
    margin-left: .25rem
}

.mt-5 {
    margin-top: 25px
}

.mb-2 {
    margin-bottom: 10px
}

.ml-4 {
    margin-left: 20px
}

.mt-4 {
    margin-top: 20px
}

body::-webkit-scrollbar {
    display: none
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none
}

html {
    background-color: #4c4c4c
}

div {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none
}

.banner {
    background: rgba(198,199,229,.7);
    align-items: center
}

.bannerEvent {
    background: rgba(255,96,96,.835);
    align-items: center;
    width: 100%
}

.banner__content {
    text-align: center;
    padding: 16px;
    margin: 0 auto;
    display: flex;
    align-items: center
}

.banner__text {
    flex-grow: 1;
    line-height: 1.4;
    font-family: "Quicksand",sans-serif
}

.banner__close {
    background: none;
    border: none;
    cursor: pointer
}

.banner__close>span,.banner__text {
    color: #000
}

.text-justify {
    font-size: large;
    margin-bottom: .5rem
}

@-webkit-keyframes pulse-empty-div {
    0% {
        background-color: hsla(0,0%,100%,.1)
    }

    50% {
        background-color: #17181f
    }

    to {
        background-color: hsla(0,0%,100%,.1)
    }
}

@keyframes pulse-empty-div {
    0% {
        background-color: hsla(0,0%,100%,.1)
    }

    50% {
        background-color: #17181f
    }

    to {
        background-color: hsla(0,0%,100%,.1)
    }
}

.empty-div {
    -webkit-animation: pulse-empty-div 4s cubic-bezier(.4,0,.6,1) infinite;
    animation: pulse-empty-div 4s cubic-bezier(.4,0,.6,1) infinite
}

@-webkit-keyframes pulse-img {
    0% {
        -webkit-filter: brightness(.8);
        filter: brightness(.8)
    }

    50% {
        -webkit-filter: brightness(1);
        filter: brightness(1)
    }

    to {
        -webkit-filter: brightness(.8);
        filter: brightness(.8)
    }
}

@keyframes pulse-img {
    0% {
        -webkit-filter: brightness(.8);
        filter: brightness(.8)
    }

    50% {
        -webkit-filter: brightness(1);
        filter: brightness(1)
    }

    to {
        -webkit-filter: brightness(.8);
        filter: brightness(.8)
    }
}

.pulse-img {
    -webkit-animation: pulse-img 4s cubic-bezier(.4,0,.6,1) infinite;
    animation: pulse-img 4s cubic-bezier(.4,0,.6,1) infinite
}

.form-control {
    color: #000
}

input {
    background-color: transparent!important;
    color: #fff!important
}

.container-responsive {
    min-height: 95vh
}

.mr-1 {
    margin-right: .25rem
}

.card-data {
    font-size: 1.1rem;
    text-align: left;
    font-weight: 700;
    margin: 8px;
    color: var(--primary-text);
    border: 1px solid var(--primary-border);
    box-shadow: 4px 0 9px 0 rgb(0 0 0);
    border-radius: 10px;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: #1a202c
}

.card-data-container {
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap
}

.card-data-container-title {
    color: var(--green);
    font-size: 23px;
    font-weight: bolder;
    display: flex;
    width: 100%;
    align-items: center;
    grid-gap: 10px;
    gap: 10px
}

.right-data-container-buttons {
    display: flex;
    justify-content: space-evenly
}

.text-gradient {
    font-size: 24px;
    background: linear-gradient(175deg,var(--blue),var(--purple) 20%,var(--pink) 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.text-green {
    color: var(--green)
}

.text-pink {
    color: var(--pink)
}

.text-purple {
    color: var(--purple)
}

.text-blue {
    color: var(--blue)
}

.text-orange {
    color: var(--orange)
}

@media screen and (max-width: 720px) {
    .container-responsive {
        width:100%!important
    }
}

@media screen and (max-width: 1048px) {
    .custom-container {
        width:100%!important;
        padding: 1rem
    }
}

.custom-container {
    width: 1048px
}

footer p {
    margin-top: 1rem!important
}

#create-ring {
    max-width: 760px;
    margin-bottom: 0
}

.Toastify__toast-theme--light {
    background: var(--secondary)!important
}

.custom-button {
    background-color: transparent;
    color: var(--primary-text);
    padding: .5rem .6rem;
    text-align: center;
    border-radius: 9999px;
    display: inline-block;
    cursor: pointer;
    font-family: inherit;
    font-size: 100%;
    font-weight: 700;
    border: 1px solid #fff
}

.custom-button:hover {
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.2901960784313726)
}

.popover-header {
    background-color: var(--primary)!important
}

.popover {
    border: 1px solid var(--green)!important
}

.popover,.popover-body {
    color: #fff!important;
    background-color: var(--secondary)!important
}

.table-node-line:hover {
    background-color: hsla(0,0%,100%,.2)!important
}

.table-node-line {
    background-color: #17181f
}

#node-list-create-button {
    width: 157px;
    height: 48px;
    background-color: transparent;
    border: 1px solid var(--blue);
    border-radius: 4px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #e2e8f0;
    transition: all .2s;
    padding: 0 24px
}

#node-list-create-button:hover {
    background-color: var(--blue)
}

#node-list {
    font-family: "Nunito",sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto
}

#node-list-header {
    display: flex;
    align-items: center
}

#node-list-header-img {
    margin-right: 10px
}

#node-list-header-title {
    font-size: 14px;
    line-height: 19px;
    font-weight: 700
}

#node-list-header-desc {
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    color: #a0aec0
}

#node-list-header-input {
    background-color: transparent;
    border: 1px solid #4a5568;
    border-radius: 4px;
    margin-left: 32px;
    font-family: Nunito;
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center
}

#node-list-table {
    margin-top: 41px
}

#node-list-table-header {
    height: 41px;
    background: #1a202c;
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #718096
}

.node-list-table-name {
    flex: 1 0 auto;
    margin-left: 22px
}

.node-list-table-created {
    padding-right: 16px
}

.node-list-table-created,.node-list-table-next {
    width: 100px;
    text-align: right
}

.node-list-table-rewards {
    width: 141px;
    text-align: right
}

.node-list-table-claim {
    width: 106px;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center
}

.node-list-table-item {
    height: 41px;
    display: flex;
    align-items: center;
    background: #2d3748;
    font-size: 14px;
    line-height: 19px
}

.node-list-table-item:hover {
    background-color: var(--secondary)!important
}

.node-list-table-item:nth-child(2n) {
    background: rgba(45,55,72,.796078431372549)
}

.text-gray-300 {
    color: #e2e8f0
}

.text-gray-500 {
    color: #a0aec0
}

.text-green-500 {
    color: #48bb78
}

.text-unbuntu-grey-700 {
    font-family: Ubuntu Mono;
    font-weight: 700
}

.f-full {
    flex: 1 0 auto
}

.f-row {
    display: flex
}

.f1-end {
    justify-content: flex-end
}

.f2-center {
    align-items: center
}

.font-bold {
    font-weight: 700
}

@media screen and (max-width: 768px) {
    #node-list-header {
        grid-gap:5px;
        gap: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr
    }

    .node-list-table-name {
        margin-left: 4px
    }

    .node-list-table-created,.node-list-table-next {
        display: none
    }

    .node-list-table-name span {
        width: 120px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }

    .node-list-table-rewards {
        width: 80px
    }

    .node-list-table-claim {
        width: 91px
    }
}

@media screen and (max-width: 425px) {
    #node-list-header {
        grid-gap:5px;
        gap: 5px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr
    }

    #node-list-header div.f-full {
        display: none
    }

    #node-list-header input {
        margin: 0
    }

    .node-list-table-item {
        height: 48px
    }
}

nav {
    height: 76px;
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    max-width: 1048px!important;
    padding: 0!important
}

#brand-name {
    font-weight: 600;
    font-size: 22px
}

#topbar-links {
    display: flex;
    align-items: center
}

@media screen and (max-width: 1024px) {
    nav {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 129px;
        margin: 16px 0
    }

    #topbar-links {
        grid-row: 2;
        grid-column: 1/span 2;
        justify-content: space-around;
        margin: 16px 4px
    }
}

@media screen and (max-width: 386px) {
    nav {
        height:227px
    }

    #topbar-links {
        display: flex;
        flex-direction: column;
        grid-gap: 8px;
        gap: 8px
    }

    .nav-link {
        width: 100%!important
    }

    .nav-link span {
        margin: 4px auto
    }
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255, 1)' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")!important
}

.navbar-toggler {
    color: hsla(0,0%,100%,.55)!important;
    border-color: #fff!important
}

.navbar {
    background-color: var(--primary);
    min-height: 100px;
    margin-left: 76px;
    margin-right: 70px
}

.navbar-nav {
    background-color: var(--secondary);
    box-shadow: 0 4px 12px rgba(0,0,0,.15);
    border-radius: 10px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto
}

.nav-link {
    font-family: "Nunito",sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    width: 118.5px;
    cursor: default!important;
    color: var(--secondary-text)!important
}

.nav-link-selected {
    color: var(--purple)!important;
    border-radius: 8px;
    margin-left: 2px;
    padding-top: 7px!important
}

.connect-button {
    width: 180px;
    height: 40px;
    font-weight: 800;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid var(--green);
    color: #e2e8f0
}

.connected-text {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: .1em;
    color: #718096;
    margin-top: 5px
}

.connected-account-text,.connected-text {
    font-family: Ubuntu Mono;
    display: flex;
    align-items: center;
    text-align: right
}

.connected-account-text {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: .05em
}

.informations-container {
    display: flex!important;
    grid-gap: 20px;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap
}

.informations-container>div {
    flex: 1 0 auto
}

.info-container {
    min-height: 80px;
    background-color: var(--secondary);
    box-shadow: 0 4px 12px rgba(0,0,0,.15);
    border-radius: 8px;
    align-items: center;
    display: flex;
    color: #e2e8f0;
    width: 336px
}

@media screen and (max-width: 480px) {
    .info-container {
        width:auto
    }
}

.info-datas {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px
}

.info-data-value {
    font-family: Ubuntu Mono;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: -.05em
}

.info-data-icon {
    margin-left: 26px;
    margin-right: 26px
}

.welcome-discord-button:hover {
    background-color: var(--purple)!important
}

.claim-button {
    width: 85px;
    height: 30px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid var(--green);
    margin-right: 16.5px;
    color: #e2e8f0
}

.claim-button:hover {
    background-color: var(--green)
}

.claim-button:hover i {
    color: #fff
}

.what-next-container {
    display: flex;
    width: 100%;
    min-height: 713px;
    background-color: var(--secondary);
    margin-top: 80px
}

.img-container {
    justify-content: center;
    align-items: center;
    display: flex
}

.what-next-text-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: left;
    grid-gap: 40px;
    gap: 40px;
    color: var(--primary-text);
    font-family: Nunito;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px
}

.small-title {
    font-weight: 800;
    font-size: 16px
}

.link-underline {
    text-decoration: underline!important;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer
}

a.link-underline:hover {
    color: var(--pink)
}

@media screen and (max-width: 720px) {
    .img-container>img {
        width:340px;
        height: 340px
    }
}

.animation-spin {
    -webkit-animation: spin 16s linear infinite;
    animation: spin 16s linear infinite
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(1turn)
    }
}

@keyframes spin {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

#welcome-message {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

#welcome-message h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #e2e8f0
}

#welcome-message p {
    width: 692px;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #a0aec0
}

#card-2 {
    width: 336px
}

#card-1,#card-3 {
    width: 336px;
    height: 38px;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #e2e8f0;
    margin-top: 4px
}

#card-1 img,#card-2 img,#card-3 img {
    margin-left: 14px;
    margin-right: 14px
}

#card-1 p,#card-3 p {
    width: 283px;
    height: 38px;
    margin: 0;
    font-size: 14px;
    line-height: 19px
}

.shadowed {
    background: #1a202c;
    box-shadow: 0 4px 12px rgba(0,0,0,.15);
    border-radius: 8px
}

#welcome-message button {
    width: 157px;
    height: 30px;
    background-color: transparent;
    border: 1px solid var(--purple);
    border-radius: 4px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #e2e8f0;
    transition: all .2s
}

.welcome-create-node-button:hover {
    background-color: var(--blue)!important
}

.buy-button:hover {
    background-color: var(--orange)!important
}

.text-yellow {
    color: var(--orange)!important
}

.border-yellow {
    border-color: var(--orange)!important
}

.border-blue {
    border-color: var(--blue)!important
}

footer {
    color: #dae0e8
}

footer #links {
    display: flex;
    grid-gap: 16px;
    gap: 16px
}

footer #links a {
    text-decoration: none;
    height: 22px;
    font-weight: 300!important;
    font-size: 16px!important;
    line-height: 22px!important;
    color: #a0aec0
}

footer #links a:hover {
    color: var(--purple)
}

footer #copyright {
    display: block;
    margin-top: 19px;
    width: 177px;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    color: #a0aec0
}

@media screen and (max-width: 1048px) {
    #welcome-message {
        margin-top:16px;
        margin-bottom: 16px
    }

    #cards {
        margin-top: 16px
    }

    #card-1,#card-3,#cards {
        width: 100%
    }

    #welcome-message p {
        width: 100%;
        font-size: 16px;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: #a0aec0
    }

    #welcome-message button {
        width: auto;
        height: 30px;
        padding: .5rem .75rem
    }
}

@media screen and (max-width: 425px) {
    #welcome-buttons {
        display:flex;
        flex-direction: column;
        grid-gap: 16px;
        gap: 16px
    }

    #welcome-buttons button {
        margin: 0;
        height: 36px
    }
}

#section-faq {
    padding-top: 119px;
    padding-bottom: 126px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #11151f
}

#faq-content {
    margin-top: 86px
}

footer {
    background: #0d111a;
    height: 200px;
    display: flex;
    align-items: center
}

footer>div {
    display: flex;
    justify-content: space-between;
    align-items: baseline
}

#copyright {
    display: block;
    margin-top: 19px;
    width: 177px;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    color: #a0aec0
}

#links {
    display: flex;
    grid-gap: 16px;
    gap: 16px
}

#links a {
    text-decoration: none;
    height: 22px;
    font-weight: 300!important;
    font-size: 16px!important;
    line-height: 22px!important;
    color: #a0aec0
}

#links a:hover {
    color: var(--purple)
}

.accordion {
    background-color: #1a202c;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: .4s;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #cbd5e0
}

.accordion img {
    height: 16px;
    width: 16px;
    margin: 4px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all .3s
}

.accordion.active img {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.accordion:hover,.active {
    color: var(--green);
    border-bottom: 1px solid #000;
    background-color: #141820
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: #141820;
    overflow: hidden
}

.panel p {
    margin-top: 16px
}

#img-diagram img {
    -webkit-animation: float 6s ease-in-out infinite;
    animation: float 6s ease-in-out infinite
}

#img-diagram-shadow {
    height: 23px;
    -webkit-animation: float-shadow 6s ease-in-out infinite;
    animation: float-shadow 6s ease-in-out infinite;
    box-shadow: 0 30px 19px -4px rgba(0,0,0,.4)
}

@-webkit-keyframes float {
    0% {
        -webkit-transform: translatey(20px);
        transform: translatey(20px)
    }

    50% {
        -webkit-transform: translatey(-30px);
        transform: translatey(-30px)
    }

    to {
        -webkit-transform: translatey(20px);
        transform: translatey(20px)
    }
}

@keyframes float {
    0% {
        -webkit-transform: translatey(20px);
        transform: translatey(20px)
    }

    50% {
        -webkit-transform: translatey(-30px);
        transform: translatey(-30px)
    }

    to {
        -webkit-transform: translatey(20px);
        transform: translatey(20px)
    }
}

@-webkit-keyframes float-shadow {
    0% {
        box-shadow: 0 30px 19px -4px rgba(0,0,0,.4)
    }

    50% {
        box-shadow: 0 30px 19px -4px rgba(0,0,0,.3)
    }

    to {
        box-shadow: 0 30px 19px -4px rgba(0,0,0,.4)
    }
}

@keyframes float-shadow {
    0% {
        box-shadow: 0 30px 19px -4px rgba(0,0,0,.4)
    }

    50% {
        box-shadow: 0 30px 19px -4px rgba(0,0,0,.3)
    }

    to {
        box-shadow: 0 30px 19px -4px rgba(0,0,0,.4)
    }
}

h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    align-items: center;
    color: #e2e8f0
}

.subtitle,h2 {
    text-align: center
}

.subtitle {
    font-size: 20px;
    line-height: 27px;
    color: #a0aec0
}

@media screen and (max-width: 720px) {
    footer>div {
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
        grid-gap: 10px;
        gap: 10px
    }

    #footer-brand,footer>div {
        justify-content: center
    }

    #faq-content {
        margin-top: 40px
    }

    #section-faq {
        padding-top: 36px;
        padding-bottom: 36px
    }
}

.modal-content {
    background-color: var(--secondary)!important
}

.create-button {
    width: 125px;
    height: 40px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid var(--green);
    color: #e2e8f0
}

.create-button:hover {
    background-color: var(--green)
}

.approuval-button {
    width: 125px;
    height: 40px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid var(--purple);
    color: #e2e8f0
}

.approuval-button:hover {
    background-color: var(--purple)
}

.modal-backdrop {
    background-color: var(--primary)!important
}

.node-creation-container {
    width: 100%;
    margin-inline:auto;max-width: 1024px;
    -webkit-padding-start: 1.25rem;
    padding-inline-start:1.25rem;-webkit-padding-end: 1.25rem;
    padding-inline-end:1.25rem;background-color: #282829;
    border-radius: 5px
}
