:root {
  --primary: #11151f;
  --third: #0d111a;
  --primary-text: #dae0e8;
  --secondary-text: #718096;
  --secondary: #1a202c;
  --green: #66cf8e;
  --purple: #9f7aea;
  --blue: #4299e1;
  --pink: #ed64a6;
  --orange: #ed8936;
  --accent: #e7e7e7;
  --accent-text: #242422;
  --primary-border: #35363d;
  --blue-pink-linear-gradient: linear-gradient(135deg,
      #4299e1 0%,
      #ed64a6 100%);
}


.cdmEaM {
  color: var(--green);
  font-weight: bold;
  margin-right: 3px;
  margin-left: 3px;
}

.node-type {
  box-shadow: 5px -2px 15px 5px #404040;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.active_item1 {
  border: 2px solid rgb(205, 127, 50);
}

.active_item2 {
  border: 2px solid rgb(192, 192, 192);
}

.active_item3 {
  border: 2px solid goldenrod;
}

.form-check-input {
  border: 1px solid #fff;
}